apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: srebot-pgsql
  labels:
    app: srebot-pgsql
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: srebot-pgsql
  template:
    metadata:
      labels:
        app: srebot-pgsql
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: postgres
          image: pgvector/pgvector:pg16
          ports:
            - containerPort: 5432
              name: postgres
          env:
            - name: POSTGRES_USER
              value: "pomelobot"
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: srebot-pgsql-secret
                  key: password
            - name: POSTGRES_DB
              value: "pomelobot"
            - name: TZ
              value: "Asia/Shanghai"
            - name: PGDATA
              value: "/var/lib/postgresql/data/pgdata"
          readinessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - pomelobot
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          livenessProbe:
            exec:
              command:
                - pg_isready
                - -U
                - pomelobot
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
          resources:
            requests:
              memory: "256Mi"
              cpu: "1000m"
            limits:
              memory: "4096Mi"
              cpu: "4000m"
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: pgdata
          persistentVolumeClaim:
            claimName: srebot-pgsql-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  labels:
    app: srebot-pgsql
spec:
  type: ClusterIP
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  selector:
    app: srebot-pgsql

---
apiVersion: v1
kind: Secret
metadata:
  name: srebot-pgsql-secret
type: Opaque
stringData:
  password: "Admin@123"
